/**{*/
/*    box-sizing: border-box;*/
/*}*/

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 1080px;
}


/*.container{*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

@media (min-width: 1200px){
    #header__image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 560px;
        background-image: url("../images/hero-1.jpg");
        transition-duration: 0.7s;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__navbar{
        position: fixed;
        top: 0;
        width: 100%;
        height: 56px;
        z-index: 1;
    }

    .header__container__navbar{
        display: flex;
        justify-content: space-between;
        justify-self: center;
        width: 1170px;
        height: 56px;
    }

    .header__logo{
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .header__icon{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .header__icon img{
        width: 30px;
        height: 30px;
    }


    }
    .header__logo a p{
        display: flex;
        align-items: center;
        font-size: 28px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: white;
    }
    .header__logo a span{
        font-weight: normal;
    }

/*-------------navbar------------*/

    .navbar{
        height: 50px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .navbar>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 520px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar_link{
        font-size: 14px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #ffffffa6;
    }

    .navbar_link:hover{
        color: #ffffff;
    }


    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 1170px;
        height: 442px;
        margin: 0 auto;
        padding-top: 119px;
    }

    .container__left{
        align-self: flex-start;
        width: 500px;
        height: 334px;
        margin-left: 15px;
    }

    #header__MainText{
        display: inline-block;
        color: white;
        font-size: 30px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 1.5;

    }

    #header__text{
        display: inline-block;
        color: white;
        font-size: 18px;
        font-family: "Open Sans", Arial, sans-serif;
        margin-bottom: 15px;
        line-height: 1.5;
    }

    #container__leftButton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46px;
        background-color: #40babd;
        margin-top: 15px;
        border-radius: 5px;
        font-size: 16px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #ffffff;
        transition: .7s;
    }
    #container__leftButton:hover{
        background-color: #3aa7aa;
    }

    .container__right{
        width: 570px;
        height: 442px;
        background-image: url("../images/imac.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__scrollImage{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -50px;
        width: 1170px;
        height: 20px;
        margin: 0 auto;
    }

    .header__scrollImage__item{
        width: 11px;
        height: 11px;
        margin-right: 7px;
        background-color: #ffffff66;
        border-radius: 100%;
        z-index: 0;
    }
    /*----------main-----------*/

    .main{
        width: 100%;
        background-color: white;
        font-family: "Open Sans", Arial, sans-serif;
    }

    .about__container{
        width: 1170px;
        height: 778px;
        padding-top: 70px;
        margin: 0 auto;
    }

    .about__container__title{
        font-size: 36px;
        font-family: "Open Sans", Arial, sans-serif;
        color: #494d55;
        margin-bottom: 15px;
        text-align: center;
    }

    .about__container__text{
        font-size: 16px;
        font-family: "Open Sans", Arial, sans-serif;
        color: #A2A6AF;
        margin: 0 190px 60px;
        text-align: center;
        line-height: 1.5;
    }

/*_______________________________________*/
    .about__container__list{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1145px;
        height: 65px;
        margin-bottom: 90px;
    }

    .about__container__listBootstrap{
        width: 56px;
        height: 55px;
        background-image: url("../images/logo-bootstrap.svg");
    }

    .about__container__listAngular{
        width: 61px;
        height: 65px;
        background-image: url("../images/logo-angular.svg");
    }

    .about__container__listHTML{
        width: 53px;
        height: 60px;
        background-image: url("../images/logo-html5.svg");
    }

    .about__container__listCSS{
        width: 53px;
        height: 60px;
        background-image: url("../images/logo-css3.svg");
    }

    .about__container__listLess{
        width: 90px;
        height: 41px;
        background-image: url("../images/logo-less.svg");
    }

    .about__container__listJQuery{
        width: 132px;
        height: 30px;
        background-image: url("../images/logo-jquery.svg");
    }

    .about__list__item {
        padding: 0 5px;
        margin-right: 10px;
        background-repeat: no-repeat;
    }
/*_________________________________*/

    .about__container__wrapper{
        display: flex;
        width: 1170px;
        height: 400px;
        margin-bottom: 60px;
    }

    .about__container__wrapperItem{
        padding: 0 45px;
    }

    .wrapperItem__image{
        width: 300px;
        height: 170px;
        margin-bottom: 15px;
        text-align: center;
    }

    .wrapperItem__title{
        width: 300px;
        height: 20px;
        text-align: center;
        font-size: 18px;
        font-family: "Open Sans", Arial, sans-serif;
        margin-bottom: 15px;
        color: #40BABD;
        font-weight: bold;
    }

    .wrapperItem__text{
        width: 300px;
        height: 120px;
        text-align: center;
        font-size: 14px;
        font-family: "Open Sans", Arial, sans-serif;
        color: #616670;
        line-height: 1.5;
    }


    .testimonials__container{
        width: 100%;
        height: 1060px;
        background: #40BABD url(../images/map.png) no-repeat center center;
        background-size: cover;
        padding-top: 90px;
        padding-bottom: 90px;
        box-sizing: border-box;
    }

    .testimonials__section{
        width: 1170px;
        height: 880px;
        margin: 0 auto;
    }

    .testimonials__section__title{
        width: 1140px;
        height: 40px;
        font-size: 36px;
        font-family: "Open Sans", Arial, sans-serif;
        color: white;
        text-align: center;
        margin-bottom: 30px;
    }
    .testimonials__section__content{
        width: 740px;
        height: 137px;
        padding: 30px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .testimonials__section__contentRevers{
        flex-direction: row-reverse;
    }

    .testimonials__profileImage{
        width: 80px;
        height: 80px;
    }

    .quote{
        display: block;
        width: 635px;
        height: 137px;
        background-color: #494D5550;
        margin-left: 30px;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 5px;
    }


    .quoteRevers{
        margin-left: 0;
        margin-right: 30px;
    }

    .testimonials__text, .testimonials__name, .testimonials__meta{
        font-size: 14px;
        font-family: "Open Sans", Arial, sans-serif;
       line-height: 1.5;
        color: #00000099;
    }

    .testimonials__text{
        color: white;
        margin-bottom: 10px;
    }

/*--------------features__container------------------*/

.features__container{
    width: 100%;
    height: 920px;
    padding: 90px 0;
    box-sizing: border-box;
}

.features__section{
    width: 1170px;
    height: 740px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
}

.features__section__title{
    width: 1140px;
    height: 40px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 36px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #494D55;
}

.features__section__intro{
    width: 760px;
    height: 24px;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #A2A6AF;
    margin-bottom: 60px;
    margin-left: 190px;
    margin-right: 190px;
}



.features__section__block{
    display: flex;
    justify-content: space-between;
}

.features__section__leftBlockLink{
    display: inline-block;
    width: 700px;
    height: 600px;
    background-image: url("../images/feature-1.png");
    background-repeat: no-repeat;
}

.features__section__rightBlock{
    display: inline-block;
    width: 390px;
    height: 440px;
    margin: 30px 0;
    padding: 0 15px;
    box-sizing: border-box;
}

.features__section__rightBlockLink{
    display: inline-block;
    width: 360px;
    height: 53px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #616670;
    text-align: left;
}

.features__section__rightBlockLink:hover{
    color: #40BABD;
    transition-property: color;
    transition-duration: .5s;
    cursor: pointer;
}

.features__section__rightBlockLink:active{
    color: #40BABD;
}


/*-------------------------Our Team*/
.ourTeam__container{
    width: 100%;
    height: 955px;
    padding: 90px 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.ourTeam{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1170px;
    height: 775px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.ourTeam__title{
    width: 1140px;
    height: 40px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 36px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #494D55;
}

.ourteam__intro{
    width: 760px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    color: #A2A6AF;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 60px;
}

.ourTeam__text{
    width: 800px;
    height: 84px;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    line-height: 1.5;
    color: #494D55;
    margin: 0 auto 15px;
}

.ourTeam__teamInner__container{
    display: flex;
    justify-content: center;
}

.ourTeam__teamInner{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 490px;
    padding: 30px;
    margin: 0 15px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.ourTeam__teamImage{
    width: 120px;
    height: 120px;
}

.ourTeam__teamName{
    width: 310px;
    height: 20px;
    margin: 20px 0 10px;
    color: #40BABD;
    font-size: 18px;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.ourTeam__teamPosition{
    width: 310px;
    height: 23px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #616670;
}

.ourTeam__teamSocial li{
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.ourTeam__teamSocialImage{
    width: 32px;
    height: 32px;
}

.ourTeam__teamInner__text{
    display: block;
    width: 310px;
    height: 150px;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #616670;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}

.ourTeam__teamInner__text a{
    color: #3aa7aa;
    text-decoration: none;
}

.ourTeam__teamInner__text a:hover{
    text-decoration: underline;
}

.ourTeam__teamInner__text a:visited{
    color: #23527c;
}

.pricing__container{
    width: 100%;
    height: 745px;
    padding: 90px 0;
    box-sizing: border-box;
}

.pricing__section{
    width: 1170px;
    height: 565px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.pricing__title{
    width: 1140px;
    height: 40px;
    margin-bottom: 15px;
    color: #494D55;
    font-size: 36px;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
}

.pricing__intro{
    width: 760px;
    height: 23px;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #A2A6AF;
    margin: 0 190px 60px;
    text-align: center;
}

.pricing__block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pricing__item{
    width: 300px;
    height: 397px;
    margin-bottom: 30px;
    padding: 0 15px;
    box-sizing: border-box;
}

.pricing__item__inner{
    width: 270px;
    height: 397px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.block_1{background-color: #75c181;}
.block_2{background-color: #58BBEE;}
.block_3{background-color: #F8A13F;}

.pricing__item__hidden{
    width: 210px;
    height: 60px;
    font-size: 18px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.pricing__item__figure{
    width: 210px;
    height: 60px;
    font-size: 46px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.pricing__item__figure span:before{
    content: "\0024";
    color: #FFFFFF90;
    font-size: 26px;
    vertical-align: top;
}

.price__desc{
    width: 210px;
    height: 120px;
    margin-bottom: 30px;
}

.price__desc p{
    width: 210px;
    height: 42px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #FFFFFF;
    line-height: 1.5;
}

.price__desc a{
    display: inline-block;
    width: 97px;
    height: 19px;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #00000066;
}

.price__desc a:hover{
    text-decoration: underline;
}

.pricing__item__button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 46px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", Arial, sans-serif;
    color: #FFFFFF;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.blockButton1{background-color: #5E9A67;}
.blockButton2{background-color: #4696BE;}
.blockButton3{background-color: #C68132;}
.blockButton1:hover{background-color: #46744D;}
.blockButton2:hover{background-color: #35708E;}
.blockButton3:hover{background-color: #956127;}



.contact__container{
    width: 100%;
    height: 420px;
    background-color: #494D55;
    padding: 90px 0;
    box-sizing: border-box;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: center;
}

.contact__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    height: 240px;
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.contact__title{
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
}

.contact__intro{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.contact__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 46px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #40BABD;
    transition-property: background-color;
    transition-duration: 0.5s;
    color: white;
}

.contact__button:hover{
    background-color: #3AA7AA;
}

.contact__button:active{
    background-color: #204D74;
    border-style: solid;
    border-color: #102D45;
    border-width: 2px;
}

.footer{
    width: 100%;
 }

.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #26282c;
}

.footer__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 20px;
}

.footer__copyright{
    color: #ffffff99;
    font-size: 12px;
    font-family: "Open Sans", Arial, sans-serif;
}

.footer__copyright span:after{
    content: "\2665";
    color: hotpink;
    font-size: 16px;
}

.footer__copyright a{
    text-decoration: none;
    color: #40BABD;
}

.footer__copyright a:hover{
    text-decoration: underline;
}











/*@media (min-width: 992px) and (max-width: 1199px){*/
/*    header{*/
/*        width: 100%;*/
/*        height: 500px;*/
/*        background-color: blue;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) and (max-width: 991px){*/
/*    header{*/
/*        width: 100%;*/
/*        height: 500px;*/
/*        background-color: aqua;*/
/*    }*/
/*}*/

/*@media (max-width: 767px) {*/
/*    header{*/
/*        width: 100%;*/
/*        height: 500px;*/
/*        background-color: green;*/
/*    }*/
/*}*/