/**{*/
/*    box-sizing: border-box;*/
/*}*/


html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 1080px;
}


/*.container{*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

@media (min-width: 1200px){
    #header__image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 560px;
        background-image: url("../images/hero-1.jpg");
        transition-duration: 0.7s;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__navbar{
        position: fixed;
        top: 0;
        width: 100%;
        height: 56px;
        z-index: 1;
    }

    .header__container__navbar{
        display: flex;
        justify-content: space-between;
        justify-self: center;
        width: 1170px;
        height: 56px;
    }

    .header__logo{
        padding: 15px 0 0 15px;
    }

    .header__logo>p::before{
        display: inline-block;
        content: "";
        margin-right: 10px;
        width: 30px;
        height: 30px;
        background-image: url("../images/logo-icon.svg");
        background-size: contain;
        background-repeat: no-repeat;

    }
    .header__logo p{
        display: flex;
        align-items: center;
        font-size: 28px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: white;
    }
    .header__logo span{
        font-weight: normal;
    }

/*-------------navbar------------*/

    .navbar{
        height: 50px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .navbar>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 520px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar_link{
        font-size: 14px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #ffffffa6;
        text-decoration: none;
    }

    .navbar_link:hover{
        color: #ffffff;
    }


    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 1170px;
        height: 442px;
        margin: 0 auto;
        padding-top: 119px;
    }

    .container__left{
        align-self: flex-start;
        width: 500px;
        height: 334px;
        margin-left: 15px;
    }

    #header__MainText{
        display: inline-block;
        color: white;
        font-size: 30px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 1.5;

    }

    #header__text{
        display: inline-block;
        color: white;
        font-size: 18px;
        font-family: "Open Sans", Arial, sans-serif;
        margin-bottom: 15px;
        line-height: 1.5;
    }

    #container__leftButton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46px;
        background-color: #40babd;
        margin-top: 15px;
        border-radius: 5px;
        font-size: 16px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
    }
    #container__leftButton:hover{
        background-color: #3aa7aa;

    }

    .container__right{
        width: 570px;
        height: 442px;
        background-image: url("../images/imac.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__scrollImage{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -50px;
        width: 1170px;
        height: 20px;
        margin: 0 auto;
    }

    .header__scrollImage__item{
        width: 11px;
        height: 11px;
        margin-right: 7px;
        background-color: #ffffff66;
        border-radius: 100%;
        z-index: 0;
    }
    /*----------main-----------*/

    .main{
        width: 100%;
        background-color: white;
        font-family: "Open Sans", Arial, sans-serif;
    }

    .about__container{
        width: 1170px;
        height: 778px;
        padding-top: 70px;
        margin: 0 auto;
    }

    .about__container__title{
        font-size: 36px;
        font-family: "Open Sans", Arial, sans-serif;
        color: #494d55;
        margin-bottom: 15px;
        text-align: center;
    }

    .about__container__text{
        font-size: 16px;
        font-family: "Open Sans", Arial, sans-serif;
        color: #A2A6AF;
        margin: 0 190px 60px;
        text-align: center;
        line-height: 1.5;
    }

/*_______________________________________*/
    .about__container__list{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1145px;
        height: 65px;
        margin-bottom: 90px;
    }

    .about__container__listBootstrap{
        width: 56px;
        height: 55px;
        background-image: url("../images/logo-bootstrap.svg");
    }

    .about__container__listAngular{
        width: 61px;
        height: 65px;
        background-image: url("../images/logo-angular.svg");
    }

    .about__container__listHTML{
        width: 53px;
        height: 60px;
        background-image: url("../images/logo-html5.svg");
    }

    .about__container__listCSS{
        width: 53px;
        height: 60px;
        background-image: url("../images/logo-css3.svg");
    }

    .about__container__listLess{
        width: 90px;
        height: 41px;
        background-image: url("../images/logo-less.svg");
    }

    .about__container__listJQuery{
        width: 132px;
        height: 30px;
        background-image: url("../images/logo-jquery.svg");
    }

    .about__list__item {
        padding: 0 5px;
        margin-right: 10px;
        background-repeat: no-repeat;
    }
/*_________________________________*/

    .about__container__wrapper{
        display: flex;
        width: 1170px;
        height: 400px;
        margin-bottom: 60px;
    }

    .about__container__wrapperItem{
        padding: 0 45px;
    }

    .wrapperItem__image{
        width: 300px;
        height: 170px;
        margin-bottom: 15px;
        text-align: center;
    }

    .wrapperItem__title{
        width: 300px;
        height: 20px;
        text-align: center;
        font-size: 18px;
        font-family: "Open Sans", Arial, sans-serif;
        margin-bottom: 15px;
        color: #40BABD;
        font-weight: bold;
    }

    .wrapperItem__text{
        width: 300px;
        height: 120px;
        text-align: center;
        font-size: 14px;
        font-family: "Open Sans", Arial, sans-serif;
        color: #616670;
        line-height: 1.5;
    }


    .testimonials__container{
        width: 100%;
        height: 1060px;
        background: #40BABD url(../images/map.png) no-repeat center center;
        background-size: cover;
        padding-top: 90px;
        padding-bottom: 90px;
        box-sizing: border-box;
    }

    .testimonials__section{
        width: 1170px;
        height: 880px;
        margin: 0 auto;
    }

    .testimonials__section__title{
        width: 1140px;
        height: 40px;
        font-size: 36px;
        font-family: "Open Sans", Arial, sans-serif;
        color: white;
        text-align: center;
        margin-bottom: 30px;
    }
    .testimonials__section__content{
        width: 740px;
        height: 137px;
        padding: 30px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .testimonials__section__contentRevers{
        flex-direction: row-reverse;
    }

    .testimonials__profileImage{
        width: 80px;
        height: 80px;
    }

    .quote{
        display: block;
        width: 635px;
        height: 137px;
        background-color: #494D5550;
        margin-left: 30px;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 5px;
    }



    .quoteRevers{
        margin-left: 0;
        margin-right: 30px;
    }

    .testimonials__text, .testimonials__name, .testimonials__meta{
        font-size: 14px;
        font-family: "Open Sans", Arial, sans-serif;
       line-height: 1.5;
        color: #00000099;
    }

    .testimonials__text{
        color: white;
        margin-bottom: 10px;
    }
}








@media (min-width: 992px) and (max-width: 1199px){
    header{
        width: 100%;
        height: 500px;
        background-color: blue;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    header{
        width: 100%;
        height: 500px;
        background-color: aqua;
    }
}

@media (max-width: 767px) {
    header{
        width: 100%;
        height: 500px;
        background-color: green;
    }
}